* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	color: #3f3939;
	font-family: 'Poppins', sans-serif;
	max-width: 100%;
}

h2 {
	font-size: 1.5rem;
}

a {
	text-decoration: none;
}

p {
	width: 45ch;
	margin: 0 auto;
	line-height: 2rem;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-bottom: 0;
	margin: 1% auto 0;
}

.title h2 {
	display: flex;
	font-size: 2rem;
	color: #3f3939;
	background-color: white;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
}
.title h2:hover {
	color: rgb(244, 237, 237);
	text-shadow: 2px 2px 0 #3f3939;
}

header nav {
	display: flex;
	justify-content: flex-end;
	width: 40%;
}

.button {
	padding: 0 1rem;
	height: 70%;
	width: 15rem;
	border: 1px solid #3f3939;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-in-out;
	margin-bottom: 0;
}

.button:hover {
	background-color: #3f3939;
	color: white;
}

/* BODY */

main {
	background-image: url('https://images.unsplash.com/photo-1615366105533-5b8f3255ea5d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1647&q=80');
	width: 80%;
	height: 70vh;
	/* padding: 12rem 0; */
	margin: 3% auto;
	text-align: center;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main img {
	display: none;
}

h1 {
	font-size: 5rem;
	text-align: center;
	text-shadow: 2px 2px 0 white;
	letter-spacing: -0.1rem;
	line-height: 4rem;
	margin: 1% 0;
}

main a {
	text-shadow: 2px 2px 0 white;
	font-size: 2rem;
}

main p {
	display: none;
}

/* PHOTO GALLERY */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 5% 5%;
	text-align: center;
	justify-content: space-between;
}

.image {
	width: 30%;
	margin-bottom: 3%;
}

/* FOOTER  */

.desktop_footer {
	display: flex;
	background: #bada55;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	padding: 1% 0;
}

.desktop_footer nav {
	display: flex;
	margin-left: 5%;
}

.desktop_footer nav a {
	margin-right: 25%;
	font-size: 2rem;
}

.copyright {
	margin-right: 5%;
	font-size: 2rem;
}

.mobile_footer {
	display: none;
}

/* 			******************* TABLET CHANGE ******************** 			*/

@media screen and (max-width: 800px) {
	/* GENERAL */

	h2 {
		font-size: 1.5rem;
		text-align: center;
	}

	/* HEADER */

	header {
		flex-direction: column; /**/
		align-items: center; /**/
		margin: 2% auto 5%;
	}

	.title h2 {
		font-size: 3rem;
	}

	.title {
		margin: 0;
	}

	header nav {
		flex-direction: column; /**/
		align-items: center; /**/
		width: 100%;
	}

	.button {
		padding: 5px 10px;
		width: 10rem;
		border: 2px solid #3f3939;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}

	/* BODY */

	main {
		background-image: none;
		width: 90%;
		padding: 0;
	}

	main img {
		display: block;
	}

	main a h2 {
		padding: 5px 10px;
		width: 10rem;
		border: 2px solid #3f3939;
		margin: 0 auto 5%;
		font-size: 1.5rem;
	}

	h1 {
		font-size: 4rem;
		text-align: center;
		text-shadow: 2px 2px 0 white;
		letter-spacing: -0.1rem;
		line-height: 3.5rem;
		margin-top: 5%;
	}

	main h2 {
		text-shadow: 2px 2px 0 white;
	}

	main p {
		display: block;
	}

	/* PHOTO GALLERY */

	.gallery {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: space-between;
	}

	.image {
		width: 47%;
		margin-bottom: 3%;
	}

	/* FOOTER  */

	.desktop_footer {
		display: none;
	}

	footer {
		/* display: flex; */
		background: #bada55;
		/* width: 100%; */
		/* justify-content: space-between; */
	}

	.mobile_footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
	}
	.mobile_footer * {
		margin-bottom: 5%;
	}

	.mobile_footer .social {
		font-size: 2rem;
		margin-bottom: 4%;
	}

	.mobile_footer h2 {
		padding-top: 5%;
	}

	.mobile_footer h2,
	.mobile_contact {
		font-size: 1.5rem;
	}

	.mobile_contact {
		border: 2px solid;
		padding: 2% 4%;
	}

	.social {
		margin: 0;
	}
}

/* 			******************* Smartphone Change ******************** 			*/

@media screen and (max-width: 500px) {
	.image {
		width: 80%;
		margin: 0 auto;
	}

	.mobile_footer {
		display: block;
	}

	.desktop_footer {
		display: none;
	}
	/* .projects_button {
		transition: all 0.3s ease-in-out;
	} */

	main .projects_button {
		border: 1px solid #3f3939;
		text-shadow: none;
		font-size: 1.5rem;
		padding: 0 1rem;
		height: 70%;
		width: 15rem;
	}

	main a:hover {
		background-color: #3f3939;
		color: white;
	}
}
